/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.menu ul li a {
    padding: 0 0px ! important;
    text-align: right;
}
.slider-contant {
    text-align: center;
}
.slider-contant h1 {
    font-size: 25px;
    margin-top: 20px;
}
.title p {
    font-size: 18px;
}
.single-contant h1 {
    text-align: center;
}
.single-contant p {
    text-align: center;
}
.title1 h1 {
    font-size: 28px;
}
.title1 p {
    font-size: 18px;
}
.btn-custom {
    width: 100px;
}
.touch_icon ul li i {
    margin-left: 0px;
}
.p-group {
    text-align: center;
    margin-bottom: 20px;
}
.a-group {
    margin-top: 20px;
}
 }

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.menu ul li a {
    padding: 0 0px ! important;
    text-align: right;
}
.slider-contant {
    margin-top: 0px;
}
.slider-contant h1 {
    font-size: 22px;
    margin-top: 10px;
}
.slider-contant h5 {
    margin-top: 15px;
    word-spacing: 0px;
    letter-spacing: 0px;
}
.slider-contant p {
    margin-top: 10px;
 }
.slider-icon {
    margin-top: 10px;
}
.p-group {
    text-align: center;
}
.p-group p{
    margin-top: 0;
    margin-bottom: 3rem;
}
.a-group ul li {
    padding-left: 30px;
}
 }

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
.menu ul li a {
    padding: 0 0px ! important;
    text-align: right;
}
.slider-contant {
    margin-top: 25px;
}
.slider-contant h1 {
    font-size: 25px;
    margin-top: 20px;
}
.slider-contant h5 {
    margin-top: 15px;
}
.slider-contant p {
    margin-top: 10px;
}
.slider-icon {
    margin-top: 20px;
}
.single-contant h1 {
    font-size: 17px;
}
.a-group ul li {
    padding-left: 30px;
}
 }


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 


 }
/* Extra large devices (large desktops, 1200px and up)*/
/*/*@media (min-width: 1200px) { 


}*/
