@font-face{
	src:url(../fonts/HelveticaNeuBold.ttf);
	font-family: font-HelveticaNeuBold
}
.body{
	font-family: 'PT Serif', serif;
	color: #898989;
}
header{
	background-color: #fcdb00; 
	padding: 30px 0;
}
.menu ul li a{
	font-size: 22px;
	font-weight: 700;
    color: #010101 ! important;
    padding: 0 42px ! important;
    transition: 3s;
}
.menu ul li a:hover{
	color: #808080! important;
}
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
.slider-contant{
	margin-top: 60px;
}
.slider-contant h1{
	font-size: 32px;
	margin-top: 20px;
}
.slider-contant h5{
	font-size: 18px;
	margin-top: 20px;
	color: #313841;
	word-spacing: 1px;
	letter-spacing: 2px;
}	
.slider-contant p{
	font-size: 16px;
	margin-top: 20px;
	color: #555555;
}
.slider-icon{
	margin-top: 30px;
}
.list-inline-item i{
	font-size: 40px;
	padding-right: 20px;
	transition: 3s;
}
.list-inline-item i:hover{
	color: blue;
}

.custom-ind {
    bottom: -70px;
}
.custom-ind li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(254,237,128,.5);
}
.custom-ind .active{
	background-color:#fff;
}
.features{
	padding-top: 70px;
	padding-bottom: 90px;
}
.title{
	text-align: center;
	margin-bottom: 90px;
}
.title h1{
 	font-size: 32px;
 	color: #010101 ! important;
}
.title p{
	font-size: 20px;
	color: #313841;
}
.single-icone img{
	font-size: 40px;
}
.single-contant h1{
	font-size: 22px;
 	color: #010101 ! important;
}
.single-contant p{
	font-size: 16px;
 	color: #898989 ! important;
}
.p_r_0{
	padding-left: 0;
}
.p_l_0{
	padding-left: 0;
}
.m_b{
	margin-bottom: 40px;
}
.touch{
	background: #010101;
}
.title1{
	text-align: center;
	margin-top: 80px;
}
.title1 h1{
 	font-size: 32px;
 	color: #fcdb00 ! important;
}
.title1 p{
	font-size: 20px;
	color: #898989 ! important;
}
.from{
	margin-top: 30px;
	
}
.btn-custom{
	width: 150px;
	margin-right: 20px;
	background: #fcdb00 ! important;
	font-size: 16px ! important;
	color: #010101! important;
	transition: 3s;
}
.btn-custom:hover{
	background: #898989 ! important
}
.touch_icon{
	margin: 100px 0px;
	text-align: center !important;

}
.touch_icon ul li i{
	background: #fcdb00 ! important;
	border-radius: 20%;
	width: 50px;
	margin-left: 20px;
	transition: 2s;
	cursor: pointer;
	
}
.touch_icon ul li i:hover{
	color: blue;
	background: #898989 ! important
}
.footer{
	background: #010101;
	padding: 10px 0 70px 0;
	
}
.p-group{
	color: #fff;
	padding-left: 20px;
}
.a-group {

}
.a-group ul{
	 
	list-style: none;
}
.a-group ul li{
	padding-left: 70px;
} 
.a-group ul li a{
	text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
	transition: 2s;	
}
.a-group ul li a:hover{
	color: blue;
}






